body {
    margin: 0;
    padding: 0;
    background-color: #e6ecff;
  }

  h1,p,h2,h3{
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: white;
    text-align: center;
  }
  .info-box, .feedback-box {
    border: 5px solid black;
    border-radius: 5px; 
    margin-bottom: 20px;
    padding: 15px;
    background-color: #4269b1;
    width: 45%;
    margin-left:25%;
    margin-top: 50px;
  }
  
  .info-title, .section-title{
    text-align: center;
    padding: 10px 20px;
    margin-bottom: 10px;

  }
  
  .section-content, .info-details {
    line-height: 1.5;
  }
  
  .feedback-question {
    margin-bottom: 10px;
  }
  
  .feedback-submit {
    text-align: center;
    margin-top: 10px;
    color: white;
  } 
  
  a {
    
    color: white; 
  }
  
  h1, h2, h3 {
    margin: 0;
  }
  
  hr {
    width: 100%;
    border: none;
    border-bottom: 1px solid #ddd;
  }
  .back-button{
font-size: 25px;
    background-color: #4269b1;
    color: white;
    padding: 10px 20px;
    margin: 5px;
    border: 5px solid black;
  }
