/* Container 1 */
h2{
    text-transform: uppercase;
  }
  h1,p,h2,a{
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: white;
  }
  body{
    background-color: #e6ecff;
  }
  .logo {
      background-color: #4269b1;
      color: white;
      padding: 10px 20px;
      width: 175px;
      border: 5px solid black;
    }
    .menu {
      display: flex;
      list-style: none; 
      padding: 0;
      color: white;    
    }
    .menu li {
      background-color:  #4269b1;
      padding: 10px 20px;
      margin: 0 5px; 
      border: 5px solid black;
    }
    
  
.container{
    text-align: center;

}

    
    .chatgpt-box, .gemini-box, .canva-box, .translator-box, .scanner-box, .pallete-box, .converter-box  {
       
      
        display: inline-block;
        padding: 20px; /* Adjust padding as needed */
        background-color: #4269b1; /* Same as box background */
        color: white;
        text-align: center; 
        border-radius: 5px;
        width: 25%;
        margin: 20px;
        border-radius: 5px;
        border: 5px solid black;
    }
    
    .section h2 {
      margin-bottom: 10px;
    }
    
    .section p {
      margin-bottom: 15px;
    }
    
    .section a {
      display: block;
      padding: 10px 20px;
      background-color: #4269b1;
      color: white;
      text-decoration: none;
    }
  
    /* Next/Back */
  
    .back{
      margin-top: 50px;
    }
    .back-button, .next-button {
  
      background-color: #4269b1;
      color: white;
      padding: 10px 20px;
      border: none;
      font-size: 25px;
      border: 5px solid black;
  
    }

     .button{
        display: inline-block;
        padding: 10px 20px;
    
       
        text-align: center;
        border-radius: 5px solid silver;
       
        font-size: 16px;
    }

    .button:hover {
        background-color: silver;
    }
